body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1f1725;
    font-family: Arial, sans-serif;
  }
  
  .game-container {
    text-align: center;
    padding: 20px;
    background-color: rgb(236, 234, 234);
    border-radius: 10px;
    

  }
  .game-container:hover{
    box-shadow: 0 0 8px rgb(0, 255, 132,0.5)
  }
  
  h1 {
    color: #6f6e70;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 800;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(0, 0, 0);
  }
  
  .choices {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

  }
  
  .choice {
    padding: 15px 30px;
    background-color: #100135;
    color: #fff;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    transition: background-color 0.3s ease;
  }
  
  .choice:hover {
    background-color: #01b021;
  }
  
  .result {
    margin-top: 20px;
  }
  
  #result-message {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
  }
  